.cities__el {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;

  width: auto;
  padding: 30px 40px;

  background: #171818;
  border-radius: 40px;

  transition: visibility 0.5s ease, opacity 0.5s ease;
}

.cities__el_active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 601px) {
  .cities__el {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 601px) {
  .cities__el {
    padding: 20px 26px;
    border-radius: 20px;
  }
}
