.cities__title {
  margin-bottom: min(69px, max(4.31vw));
}

.cities__title .text_green {
  display: block;
}

@media (max-width: 601px) {
  .cities__title {
    margin-bottom: 27px;
  }
}
