.cities__splideSlider {
  max-width: 400px;
}

@media (min-width: 1150px) {
  .cities__splideSlider {
    display: none;
  }
}

@media (max-width: 950px) {
  .cities__splideSlider {
    max-width: 500px;
  }
}

.cities__slider-el {
  display: flex;
  flex-direction: column;
  gap: 20px;
}





.splide__pagination {
  bottom: -20px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.splide__pagination li {
  margin: 0 !important;
  padding: 0 !important;
}

.splide__pagination__page {
  display: block;
  flex-shrink: 0;

  width: 12px;
  height: 12px;
  margin: 0 !important;
  padding: 0 !important;

  background: #fff;
  border-radius: 6px;

  transition: transform .2s linear, width 0.25s linear
}

.splide__pagination__page.is-active {
  transform: scale(1);

  flex-shrink: 0;

  width: 50px;
  height: 12px;

  opacity: 1;
  background: linear-gradient(270deg, #2794F9 0%, #0C5FDB 100%);
  border-radius: 6px;
}

@media (max-width: 1030px) {
  .cities__slider-el {
    gap: 10px;
  }


  .splide__pagination {
    bottom: 20px;
  }
}

@media (max-width: 950px) {
  .splide__pagination {
    bottom: -20px;
  }
}

@media (max-width: 601px) {
  .splide__pagination__page {
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }

  .splide__pagination__page.is-active {
    width: 30px;
    height: 6px;
  }
}