.cities__marker {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  transition: transform 0.3s ease;
}

#cities__marker-0 {
  top: 35.77%;
  left: 27.5%;
}

#cities__marker-1 {
  top: 87%;
  left: 29.5%;
}

#cities__marker-2 {
  top: 68.66%;
  left: 28.12%;
}

#cities__marker-3 {
  top: 78.44%;
  left: 36.56%;
}

#cities__marker-4 {
  top: 34%;
  left: 41.37%;
}

#cities__marker-5 {
  top: 42.111%;
  left: 39.75%;
}

#cities__marker-6 {
  top: 70.77%;
  left: 39.87%;
}

#cities__marker-7 {
  top: 66.44%;
  left: 52.31%;
}

#cities__marker-8 {
  top: 40.22%;
  left: 49.75%;
}

#cities__marker-9 {
  top: 28.66%;
  left: 38.5%;
}

#cities__marker-10 {
  top: 26.66%;
  left: 12.33%;
}

#cities__marker-11 {
  top: 14.11%;
  left: 38.5%;
}

#cities__marker-12 {
  top: 15.555%;
  left: 33.06%;
}

#cities__marker-13 {
  top: 20.66%;
  left: 14.93%;
}

#cities__marker-14 {
  top: 54.6%;
  left: 37.8%;
}

#cities__marker-15 {
  top: 81.33%;
  left: 32.8%;
}

.cities__marker:hover {
  transform: scale(1.2);
}

@media (max-width: 1150px) {
  .cities__markers {
    display: none;
  }
}
