.cities__el-title {
  display: block;

  margin-bottom: 8px;

  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
}

@media (max-width: 601px) {
  .cities__el-title {
    font-size: 20px;
  }
}
