.cities__el {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;

  width: auto;
  padding: 30px 40px;


  background: #171818;
  border-radius: 40px;

  transition: visibility 0.5s ease, opacity 0.5s ease;
}

@media (min-width: 1150px) {
  .cities__el {
    position: absolute;
  }
}

.cities__el_active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1150px) {
  .cities__slider.cities__slider-mobile li.cities__el {
    gap: 0;

    padding: 20px 26px;

    visibility: visible;
    opacity: 1;
    border-radius: 20px;
  }
}

@media (max-width: 601px) {
  .cities__slider.cities__slider-mobile li.cities__el {
    width: 300px;

  }


  .cities__el {
    padding: 26px 20px;
    border-radius: 20px;
  }
}