.cities__container {
  overflow: hidden;

  max-width: 1600px;
  height: min(900px, max(56.25vw));
  padding-top: 130px;
  padding-right: 118px;

  background-image: linear-gradient(
      270deg,
      rgb(31 31 31 / 90%) 1.97%,
      rgb(31 31 31 / 67%) 39.97%,
      rgb(31 31 31 / 0%) 63.06%
    ),
    url("@images/cities/cities_bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  border-radius: 80px;
}

@media (max-width: 1600px) {
  .cities__container {
    padding-top: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 850px) {
  .cities__container {
    overflow: visible;

    height: auto;
    padding-top: 71px;
    padding-right: 20px;
    padding-bottom: 80px;

    background-image: none;
    border-radius: 0;
  }
}

@media (max-width: 601px) {
  .cities__container {
    overflow: visible;

    max-width: 340px;

    /* height: auto; */
    padding-top: 71px;
    padding-right: 20px;
    padding-bottom: 80px;

    background-image: none;
    border-radius: 0;
  }
}
