.cities__el-title {
  display: block;

  /* max-width: min-content; */
  margin-bottom: 8px;

  font-size: 25px;
  font-weight: 700;
  line-height: 110%;
}

@media (max-width: 601px) {
  .cities__el-title {
    font-size: 18px;
  }
}