.cities__el-num {
  font-size: 26px;
  font-weight: 700;
  line-height: 106.5%;
  color: transparent;
  letter-spacing: 0.04em;

  opacity: 0.4;

  -webkit-text-stroke: 1px #0cdb92;
}

@media (max-width: 601px) {
  .cities__el-num {
    font-size: 18px;
  }
}
