.popup__title {
  position: relative;
  z-index: 2;

  display: block;

  margin-bottom: 8px;

  font-size: min(40px, max(24px, 3.9vw));
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  color: #0cdb92;
  text-transform: lowercase;
}

.popup__title-leave {
  position: relative;
  z-index: 2;

  margin-bottom: 8px;

  font-size: min(40px, max(24px, 3.9vw));
  font-weight: 700;
  line-height: 120%;
}

.popup__title-leave + .popup__title {
  margin-bottom: 0;
  font-size: min(30px, max(18px, 2.9vw));
}

.popup__title-consultation br {
  display: none;
}

.popup__subtitle {
  position: relative;
  z-index: 2;

  display: block;

  max-width: 372px;

  font-size: min(30px, max(18px, 2.9vw));
  font-weight: 700;
  line-height: 120%;
}

@media (max-width: 800px) {
  .popup__title-leave,
  .popup__title {
    text-align: center;
  }

  .popup__subtitle {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 601px) {
  .popup__title {
    font-size: 20px;
  }

  .popup__subtitle {
    max-width: 230px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }
}
