.steps__slider {
  display: flex;
  flex-direction: column;
  gap: 60px;

  max-width: 519px;
  height: fit-content;

  transition: transform 0.5s ease;
}

.steps__title-block {
  position: relative;
}

.steps__slider-mobile {
  display: none;
}

@media (max-width: 1250px) {
  .steps__slider {
    display: none;
  }

  .steps__slider.steps__slider-mobile {
    display: block;
  }

  .steps__slider.steps__slider-mobile .slick-list {
    overflow: hidden;
  }

  #steps__line-1 {
    stroke: #1775e7;
  }

  #steps__circle-1 {
    fill: url(#paint0_linear_411_680);
  }

  #steps__arrow-1 {
    opacity: 1;
  }
}
