.steps__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .steps__content {
    margin-bottom: 100px;
  }
}

@media (max-width: 850px) {
  .steps__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}
