.steps__slider-el {
  width: 100%;
  padding: 40px;

  opacity: 0.2;
  background: #171818;
  border-radius: 40px;

  transition: opacity 0.5s ease-in;
}

@media (max-width: 601px) {
  .steps__slider-el {
    width: 300px;
    height: fit-content;
    padding: 26px;

    opacity: 1;
    border-radius: 20px;
  }
}
