.steps__title {
  max-width: 406px;
  margin-bottom: 60px;
  font-size: min(68px, max(32px, 5.5vw));
  text-align: center;
}

.steps__title .text_green {
  display: block;
}

@media (max-width: 601px) {
  .steps__title {
    max-width: 179px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}
