.steps__description {
  max-width: 406px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

@media (max-width: 601px) {
  .steps__description {
    max-width: 222px;
    font-size: 12px;
  }
}
