.reviews__title {
  display: block;
  margin-bottom: 69px;
}

.reviews__title-number {
  display: block;
}

.reviews__title-offset {
  display: inline-block;
  max-width: 295px;
  vertical-align: top;
}
