.reviews__slider-circle {
  position: absolute;
  top: -56px;
  left: -4px;
  transform: translate3d(0, 0, 0);

  width: 384px;
  height: 384px;

  opacity: 0.4;
  background: #202020;
  filter: blur(75px);
  border-radius: 50%;
}
