.reviews__pre-form-title {
  max-width: 775px;

  font-size: min(40px, max(26px, 3.2vw));
  font-weight: 700;
  line-height: 120%;
  text-transform: lowercase;
}

@media (max-width: 850px) {
  .reviews__pre-form-title {
    text-align: center;
  }
}

@media (max-width: 601px) {
  .reviews__pre-form-title {
    font-size: 26px;
    text-align: center;
  }
}
