.input_phone {
  padding-left: 85px;
  background-image: url("@images/input/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: 32px center;
}

@media (max-width: 601px) {
  .input_phone {
    padding-left: 50px;
    background-position: 17px center;
  }
}
