.business-model__union {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-54%);
}

@media (max-width: 601px) {
  .business-model__union {
    top: -90px;
    left: 68%;
    max-width: 1173.44px;
  }
}
