.business-model__progress-bar-date {
  position: relative;
  z-index: 2;

  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;

  width: 100%;
  height: 36px;

  transition: transform 0.5s ease;
}

@media (max-width: 800px) {
  .business-model__progress-bar-date {
    gap: 70px;
    align-items: flex-end;
    justify-content: space-between;

    width: fit-content;
    margin-left: calc(100vw / 2);
  }
}
