.business-model {
  position: relative;
  z-index: 5;

  overflow: clip;

  padding-top: 50px;
  padding-bottom: 37px;

  background: #171818;
}

@media (max-width: 601px) {
  .business-model {
    overflow: hidden;
    padding-top: 71px;
  }
}
