.business-model__slider-photo {
  position: relative;
  z-index: 0;
  width: 590px;
  height: 410px;
}

#businessModel__sliderPhoto-0 {
  transform: translateY(225px);
}

#businessModel__sliderPhoto-2 {
  transform: translateY(151px);
}
