.business-model__city-info-el-adress {
  display: block;

  width: 100%;

  font-size: 18px;
  font-weight: 200;
  line-height: 140%;
}

@media (max-width: 601px) {
  .business-model__city-info-el-adress {
    font-size: 14px;
  }
}
