.business-model__city-info-list {
  position: absolute;
  top: 318px;
  left: 50%;
  transform: translateX(150px);

  width: fit-content;
}

@media (max-width: 1200px) {
  .business-model__city-info-list {
    top: 120px;
  }
}

@media (max-width: 1050px) {
  .business-model__city-info-list {
    top: 278px;
    left: 50%;
    transform: none;
  }
}

@media (max-width: 601px) {
  .business-model__city-info-list {
    top: 158px;
  }
}
