.economy__block-description {
  order: 1;
  max-width: 420px;
  padding-top: 10px;
}

@media (max-width: 1100px) {
  .economy__block-description {
    order: 1;
    max-width: 100%;
    margin: 0 auto;

    /* text-align: center; */
  }
}
