.economy__block-slider-el {
  position: relative;
  z-index: 1;

  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.economy__block-slider-el01 img {
  width: 226px;
  height: 306px;
}

@media (max-width: 1100px) {
  .economy__block-slider-el {
    height: 360px;
  }
}
@media (max-width: 601px) {
  .economy__block-slider-el {
    max-width: 260px;
    height: 222px;
  }

  .economy__block-slider-el01 img {
    width: 126.44px;
    height: 172px;
  }

  .economy__block-slider-el02 img {
    width: 143.18px;
    height: 119.01px;
  }

  .economy__block-slider-el03 img {
    width: 139.46px;
    height: 163.63px;
  }

  .economy__block-slider-el04 img {
    width: 189.66px;
    height: 176.65px;
  }
}
