.economy__block-slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

@media (max-width: 601px) {
  .economy__block-slider-title {
    font-size: 20px;
  }
}
