.economy__block-description-img-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 27px;
}

@media (max-width: 1100px) {
  .economy__block-description-img-list {
    display: none;
  }
}
