.economy__block-slider-circle-blur {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);

  width: 139px;
  height: 139px;

  opacity: 0.8;
  background: #d9d9d9;
  filter: blur(100px);
  border-radius: 50%;
}

@media (max-width: 601px) {
  .economy__block-slider-circle-blur {
    width: 93px;
    height: 93px;
    filter: blur(50px);
  }
}
