.fgp__checkbox {
  display: flex;
  gap: 12px;

  font-size: 14px;
  line-height: 120%;
  color: #696969;
  text-transform: lowercase;
}

.fgp__checkbox::before {
  content: "";

  flex-shrink: 0;

  width: 16px;
  height: 16px;

  background-image: url("@images/icon/icon_checkbox.svg");
  background-position: 50% 0;
  background-size: contain;
}

@media (max-width: 601px) {
  .fgp__checkbox {
    gap: 10px;
    font-size: 11px;
  }

  .fgp__checkbox::before {
    width: 14px;
    height: 14px;
  }
}
