.fgp__form {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 17px;
}

@media (max-width: 601px) {
  .fgp__form {
    gap: 16px;
  }
}
