.proposal__info-block {
  position: relative;
  z-index: 2;

  flex-shrink: 0;

  max-width: min(377px, max(220px, 37.7vw));
  padding: min(38px, max(24px, 3.8vw)) min(40px, max(26px, 4vw));

  background: #171818;
  border-radius: 40px;
}

.proposal__info-block::before {
  content: url("@images/icon/icon_i-information.svg");

  position: absolute;
  top: 0;
  right: 30px;
  transform: translateY(-50%);

  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  background: linear-gradient(270deg, #2794f9 0%, #0c5fdb 100%);
  border-radius: 50%;
}

@media (max-width: 800px) {
  .proposal__info-block {
    max-width: min(377px, 100%);
    padding: 24px 26px;
    border-radius: 26px;
  }

  .proposal__info-block::before {
    right: 26px;
    width: 30px;
    height: 30px;
  }
}
