.proposal__title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 78px;
}

@media (max-width: 800px) {
  .proposal__title-block {
    flex-direction: column;
    gap: 46px;
    margin: 0 auto 30px;
  }
}

@media (max-width: 601px) {
  .proposal__title-block {
    max-width: 300px;
  }
}
