.proposal__el-title {
  font-size: min(56px, max(26px, 4.666vw));
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 601px) {
  .proposal__el-title {
    font-size: 26px;
  }
}
