.proposal__el-list {
  display: flex;
  flex: auto;
  flex-wrap: wrap;

  width: 100%;

  border: 1px solid #696969;
}

@media (max-width: 601px) {
  .proposal__el-list {
    margin-bottom: 30px;
  }
}
