.proposal__title {
  max-width: 870px;
}

.proposal__title-offset {
  display: block;
  margin-left: min(80px, max(32px, 3vw));
  line-height: 110%;
}

@media (max-width: 601px) {
  .proposal__title-offset {
    margin-left: 32px;
  }
}
