.proposal__el-subtitle {
  display: inline-block;

  max-width: 342px;
  margin-bottom: 56px;

  font-size: 26px;
  line-height: 140%;
}

@media (max-width: 601px) {
  .proposal__el-subtitle {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
