.proposal__el {
  position: relative;
  z-index: 2;

  padding: 28px min(80px, max(30px, 4vw + 10px))
    min(80px, max(30px, 4vw + 10px));

  background: #252525;
  border-radius: 40px;
}

.proposal__container-bottom .proposal__el {
  background: #171818;
}

@media (max-width: 601px) {
  .proposal__el {
    padding: 22px 30px 30px;
    border-radius: 26px;
  }
}
