/* .footer__order-call a {

} */

/* .footer__order-call img {
  position: relative;
  top: 6.5px;
} */

/* .footer__order-call {
  gap: 8px;
  align-items: flex-start;
  transition: all 0.3s ease;
} */

/* @media (max-width: 1350px) {
  .footer__order-call {
    margin-right: 0;
  }
} */
