.footer__logo {
  max-width: 211px;
  margin-bottom: 18px;
}

.footer__logo img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .footer__logo {
    margin-bottom: 26px;
  }
}

@media (max-width: 601px) {
  .footer__logo {
    width: 185px;
  }
}
