.footer__location {
  display: flex;
  gap: 23px;
  align-items: center;
  height: 42px;
}

@media (max-width: 1000px) {
  .footer__location {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .footer__location-logo {
    width: 36px;
    height: 36px;
  }
}
