.footer__contacts-info {
  margin-bottom: 8px;
  line-height: 140%;
}

.footer__contacts-info-br {
  display: block;
}

@media (max-width: 1000px) {
  .footer__contacts-info {
    margin-bottom: 20px;
  }

  .footer__contacts-info-br {
    display: inline;
  }
}
