.slick-list {
  position: relative;
  z-index: 0;
}

/* Блок с точками */
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;

  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  padding: 0 40px;

  transition: all 0.3s ease-in-out;
}

/* Элемент точки */
.slick-dots li {
  list-style: none;
}

.slick-track {
  display: flex;
}

/* Точка */
.slick-dots li button {
  display: block;

  width: 10px;
  height: 10px;

  font-size: 0;
  line-height: 9px;

  background: #d3d3d3;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

/* Активная точка */
.slick-dots .slick-active button {
  width: 40px;
  height: 10px;
  background: linear-gradient(270deg, #2794f9 0%, #0c5fdb 100%);
  border-radius: 100px;
}
