.bottom-block {
  padding-top: 119px;
  padding-bottom: 140px;

  background-image: url("@images/bottom-block/bb-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media (max-width: 601px) {
  .bottom-block {
    padding-top: 61px;
    padding-bottom: 80px;

    background: url("@images/bottom-block/bbMob-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
