.popup__container {
  position: relative;
  width: 100%;
  max-width: 920px;
}

.popup__container-wrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

  max-width: 920px;
  min-height: 576px;
  padding: 49px 60px 56px;

  background: #252525;
  background-image: url("@images/texture/Grain-Texture.png");
  background-repeat: repeat;
  background-position: 0% 0;
  background-size: contain;
  border-radius: 40px;
}


#popupContainer.popup__leads {
  max-width: 504px;
}

#popupContainer.popup__leads .popup__container-wrapper {
  flex-direction: column;
  align-items: center;
  min-height: 0;
}

#popupContainer.popup__leads .input_user {
  order: -1;
}

#popupContainer.popup__leads .input_email {
  display: none;
}

#popupContainer.popup__leads .popup__title {
  max-width: 15ch;
  color: #fff;
  text-align: center;
}

#popupContainer.popup__leads .popup__title span {
  display: block;
}

#popupContainer.popup__leads #popupImg {
  display: none;
}

#popupContainer.popup__leads button::after {
  display: none;
}

.popup__img-blur {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(0, 0, 0);

  filter: blur(50px);
}

@media (max-width: 901px) {
  .popup__container {
    /* width: 600px; */
  }

  .popup__container-wrapper {
    padding: 40px;
  }
}

@media (max-width: 800px) {
  .popup__container {
    width: fit-content;
  }

  .popup__container-wrapper {
    flex-direction: column;
    align-items: center;

    width: fit-content;
    margin: 0 auto;
    padding: 30px 60px 56px;
  }
}

@media (max-width: 601px) {
  .popup__container {
    width: 300px;
  }

  .popup__container-wrapper {
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 20px;
  }

  .popup__img-blur {
    transform-origin: 100% 0;
    transform: scale(0.6);
  }
}