.title {
  font-family: "SF Pro Display", sans-serif;
  font-size: min(60px, max(32px, 4.2vw));
  font-weight: 700;
  font-style: normal;
  line-height: 110%;
}

@media (max-width: 601px) {
  .title {
    font-size: 24px;
  }
}
