.demand__info-block-title {
  display: inline-block;

  margin-bottom: 40px;

  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
}

@media (max-width: 601px) {
  .demand__info-block-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
