.demand__pre-form-title {
  max-width: 775px;

  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-transform: lowercase;
}

@media (max-width: 601px) {
  .demand__pre-form-title {
    font-size: 26px;
    text-align: center;
  }
}
