.demand__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

@media (max-width: 900px) {
  .demand__content {
    flex-direction: column;
    gap: 31px;
    margin-bottom: 50px;
  }
}
