.demand__pre-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: min(64px, max(40px, 5vw)) min(80px, max(26px, 3.7vw));

  background: #0f1010;
  background-image: url("@images/demand/demand__pre-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-radius: 40px;
}

@media (max-width: 850px) {
  .demand__pre-form {
    flex-direction: column;
    gap: 30px;
    padding: 40px 26px;
  }
}
