.header {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
}

.thanks__header.header {
  position: static;
}

@media (max-width: 601px) {
  .header {
    top: 0;
    min-height: auto;
  }
}
