.section-top__title {
  font-size: 110px;
  font-weight: 700;
  font-style: normal;
  line-height: 110%;
  color: #fff;
}

.section-top__title01 .text_green {
  display: block;
}

.section-top__title02 {
  max-width: 693px;
  font-size: 80px;
}

.section-top__title03 {
  max-width: 1193px;
  font-size: 80px;
}

.section-top__title03 .text_green {
  display: block;
}

.section-top__title04 {
  max-width: 1193px;
  font-size: 80px;
}

@media (max-width: 840px) {
  .section-top__title {
    max-width: 590px;
  }
}

.section-top_bg .section-top__title {
  margin-bottom: 262px;
}

@media (max-width: 601px) {
  .section-top__title {
    font-size: 48px;
  }

  .section-top__title02 {
    font-size: 32px;
  }

  .section-top__title03 {
    font-size: 32px;
  }

  .section-top__title04 {
    font-size: 32px;
  }
}
