.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 50%;
}

.slider-btn-next {
  transform: rotateZ(180deg);
}
