.section-top__subtitle {
  display: block;

  margin-bottom: 44px;

  font-family: Nunito, sans-serif;
  font-size: 38px;
  font-size: max(28px, min(38px, 3.27vw));
  font-weight: 800;
  font-style: normal;
  line-height: 140%;
  color: #fff;
}

.section-top__subtitle .text_semi-bold {
  display: block;
}

@media (max-width: 601px) {
  .section-top__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
