.section-top__bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: min(60px + 20px, max(24px + 20px, 5vw + 20px));
}

@media (max-width: 601px) {
  .section-top__bb {
    margin-left: 0;
  }
}
