.galery__content-left-img1 {
  margin-bottom: 60px;
}

.galery__content-center-img1 {
  position: relative;
  margin-bottom: 60px;
}

.galery__content-center-img2 {
  max-width: 406px;
}

.galery__content-center-img3 {
  max-width: 532px;
}

.galery__content-right-img1 {
  margin-bottom: 60px;
}
