.galery__title {
  will-change: transform;

  display: block;

  width: 100%;
  max-width: 775px;

  font-size: min(56px, max(26px, 4.3vw));
  font-weight: 700;
  line-height: 110%;
  text-align: center;
}

@media (min-width: 800px) {
  .galery__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media (max-width: 800px) {
  .galery__title {
    max-width: 350px;
  }
}

@media (max-width: 601px) {
  .galery__title {
    transform: scale(1);
    max-width: 264.43px;
    font-size: 26px;
  }
}
